body {
    background-color: lightcoral;
}

#header {
    display: flex;
    justify-content: center;
}

#formSubmit {
    display: flex;
    justify-content: center;
}

.container1 {
    background-color: red;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.container2 {
    background-color: red;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-evenly
}

.container3 {
    background-color: red;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px
}

#character1 {
    background-color: blue;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#character2 {
    background-color: blue;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#character3 {
    background-color: blue;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#character4 {
    background-color: blue;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#character5 {
    background-color: blue;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#character6 {
    background-color: blue;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cardHeader {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    font-size: 12px;
    margin-bottom: 5px;
    border: solid black;
    text-align: center;
}

.cardImage{
    width: 95%;
    height: 200px;
    display: flex;
    justify-content: center;
}

.cardImage img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.cardButtons {
    display: flex;
    justify-content: space-around;
    margin-top: 8px;
    width: 100%;
    height: 30px;
}

.bioBtn {
    width: 75px;
    background-color: black;
    color: white;
}

.statusBtn {
    width: 75px;
    background-color: black;
    color: white;
}

#characterBio1 {
    background-color: blue;
    height: 90px;
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#characterBio2 {
    background-color: blue;
    height: 90px;
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#characterBio3 {
    background-color: blue;
    height: 90px;
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#characterBio4 {
    background-color: blue;
    height: 90px;
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#characterBio5 {
    background-color: blue;
    height: 90px;
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#characterBio6 {
    background-color: blue;
    height: 90px;
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#bioInfo1 {
    font-size: 12px;
    display: none;
}

#bioInfo2 {
    font-size: 12px;
    display: none;
}

#bioInfo3 {
    font-size: 12px;
    display: none;
}

#bioInfo4 {
    font-size: 12px;
    display: none;
}

#bioInfo5 {
    font-size: 12px;
    display: none;
}

#bioInfo6 {
    font-size: 12px;
    display: none;
}