body {
    background-color: lightcoral;
}

/* .navigation {
    display: flex;
    justify-content: center;
} */

#header {
    display: flex;
    justify-content: center;
}

#formSubmit {
    display: flex;
    justify-content: center;
}

.container1 {
    background-color: red;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.container2 {
    background-color: red;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: space-evenly
}

#character1 {
    background-color: blue;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#character2 {
    background-color: blue;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
}

#character3 {
    background-color: blue;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
}

#character4 {
    background-color: blue;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
}

#character5 {
    background-color: blue;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
}

#character6 {
    background-color: blue;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
}

.cardHeader {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    font-size: 15px;
    margin-bottom: 10px;
    /* position: absolute; */
}

.cardImage{
    width: 95%;
    height: 220px;
    /* border: solid black; */
    display: flex;
    justify-content: center;
}

.cardImage img {
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.cardButtons {
    display: flex;
    justify-content: space-around;
    margin-top: 8px;
}